<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My First List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to List!</h2>
  <ion-grid>
    <ion-row>
      <ion-col ion-item *ngFor="let item of items" col-sm-4 col-md-3> 
        <img src={{item.image}} title={{item.name}} />
        <h3>{{item.name}}</h3>
        <ul>
          <li *ngFor="let color of item.colors; let i = index">
            {{ item.colors.length > 1 ? (i + 1) +" "+ color : color}}
          </li>
        </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
